@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to right, rgb(4, 185, 194), rgb(23, 255, 236), rgb(4, 185, 194));
}
.hea {
    font-weight: 700;
}

.App{
    margin: 2rem;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 14px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.2);
    background:transparent;
    backdrop-filter: blur(10px);
    transition: 0.5s;
}
.td{
    display: flex;
    justify-content: center;
    align-items: center;
}

table td{
    cursor: pointer;
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    font-size: 35px;
}
.winner{
    margin-top: 2rem;
}